<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card text-center">
        <div class="card-header">Audit Uploader</div>
        <div class="card-body">
          <hr>
          <form (ngSubmit)="submitForm()" #fileUploadForm="ngForm" class="row g-3">
            <div class="row">
              <div class="col-6">
                <label for="formFile" class="form-label">Project Name</label>
                <input class="form-control" type="text" id="project" name="project" list="projectsList"
                       [(ngModel)]="project" (ngModelChange)="searchProjects()" (change)="onProjectOptionSelected()"
                       autocomplete="off">
                <datalist id="projectsList">
                  <option *ngFor="let p of projects"  [value]="p.proName">{{p.proName}}</option>
                </datalist>
              </div>
              <div class="col-6">
                <label for="formFile" class="form-label">Select Audit</label>
                <select class="form-select" [(ngModel)]="audit" (change)="onAuditOptionSelected()" name="audit">
                  <option *ngFor="let a of auditPlans" [value]="a.planId">{{a.auditNo}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Upload Excel file</label>
                <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
              </div>
              <div class="progress" *ngIf="!disableProgressBar" >
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{progress}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                  {{progress}}%
                </div>
              </div>
              <div>{{uploading_status}}</div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" [disabled]="isCerfied || disableButton" >Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card"*ngIf="errorList.length > 0">
        <h5 class="card-header">Error List</h5>
        <div class="card-body">
          <!--          <h5 class="card-title">Special title treatment</h5>-->
          <table>
            <tr *ngFor="let error of errorList">
              <td style="color: red;">{{error}}</td>
            </tr>
          </table>
          <a (click)="clearErrors()" class="btn btn-primary">Clear</a>
        </div>
      </div>

    </div>
  </div>
</div>





