<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">Check Audit Changes</div>
        <div class="card-body">
          <hr>
          <form (ngSubmit)="submitForm()" #fileUploadForm="ngForm" class="row g-3">
            <div class="row">
              <div class="col-6">
                <label for="formFile" class="form-label">Project Name</label>
                <input class="form-control" type="text" id="project" name="project" list="projectsList"
                       [(ngModel)]="project" (ngModelChange)="searchProjects()" (change)="onProjectOptionSelected()"
                       autocomplete="off" required>
                <datalist id="projectsList">
                  <option *ngFor="let p of projects" [value]="p.proName">{{p.proName}}</option>
                </datalist>
              </div>
              <div class="col-6">
                <label for="formFile" class="form-label">Select Audit</label>
                <select class="form-select" [(ngModel)]="audit" (change)="onAuditOptionSelected()" name="audit"
                        required>
                  <option *ngFor="let a of auditPlans" [value]="a.planId">{{a.auditNo}}</option>
                </select>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">View</button>
              <button *ngIf="!isCertified" type="button" (click)="certifyFarmerList()" class="btn btn-light">Certify
              </button>
            </div>
          </form>

        </div>
      </div>
      <div *ngIf="farmlists.length > 0">
        <div class="card" *ngIf="farmlists.length > 0">
          <h5 class="card-header">New</h5>
          <div class="card-body">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">cuid</th>
                  <th scope="col">Farmer code (EU/JAS)</th>
                  <th scope="col">Farmer Name</th>
                  <th scope="col">Total Area</th>
                  <th scope="col">chngFarmdata</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fl of newFarmersList; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{fl.cufarmerID}}</td>
                  <td>{{fl.farCodeEUJAS}}</td>
                  <td>{{fl.farmName}}</td>
                  <td>{{fl.totalArea}}</td>
                  <td>{{fl.Crops}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="farmerlist_deleted.length > 0">
          <h5 class="card-header">Deleted</h5>
          <div class="card-body">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">cuid</th>
                  <th scope="col">Farmer code (EU/JAS)</th>
                  <th scope="col">Farmer Name</th>
                  <th scope="col">Total Area</th>
                  <th scope="col">chngFarmdata</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fl of farmerlist_deleted; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{fl.cufarmerID}}</td>
                  <td>{{fl.farCodeEUJAS}}</td>
                  <td>{{fl.farmName}}</td>
                  <td>{{fl.totalArea}}</td>
                  <td>{{fl.Crops}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header">Changes List</h5>
          <div class="card-body">
            <div class="row" *ngFor="let fl of oldFarmersList; let i = index">
              <div class="card border-light mb-3" style="max-width: 100%;" *ngIf="fl.chngFarmdata.length > 0 || fl.chngCropdata.length > 0">
                <div class="card-header">{{i+1}} - {{fl.unitNoEUJAS}} | {{fl.farCodeEUJAS}} | {{fl.farmerName}}</div>

                <div class="card-body">
                  <div class="card-group">
                    <div class="card border-light mb-3" style="max-width: 50%;" *ngIf="fl.chngCropdata.length > 0">
                      <div class="card-header">Crop Data {{fl.chngCropdata.length}}</div>
                      <div class="card-body">
<!--                        <h5 class="card-title">Light card title</h5>-->
                        <table class="table table-sm" >
                          <thead>
                          <tr>
                            <th scope="col">Field Name</th>
                            <th scope="col">Last</th>
                            <th scope="col">Current</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cd of fl.chngCropdata">
                            <td>{{cd.change}} </td>
                            <td>{{cd.last}}</td>
                            <td>{{cd.current}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="card border-light mb-3" style="max-width: 50%;" *ngIf="fl.chngFarmdata.length > 0">
                      <div class="card-header">Farm data</div>
                      <div class="card-body">
<!--                        <h5 class="card-title">Light card title</h5>-->
                        <table class="table table-sm" >
                          <thead>
                          <tr>
                            <th scope="col">Field Name</th>
                            <th scope="col">Last</th>
                            <th scope="col">Current</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let fd of fl.chngFarmdata">
                            <td>{{fd.change}}</td>
                            <td>{{fd.last}}</td>
                            <td>{{fd.current}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
<!--            <div *ngFor="let fl of oldFarmersList; let i = index">-->
<!--              <table class="table table-striped" *ngIf="fl.chngFarmdata.length > 0 || fl.chngCropdata.length > 0">-->
<!--                <p>{{i}} - {{fl.unitNoEUJAS}} | {{fl.farCodeEUJAS}} | {{fl.farmerName}}</p>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th scope="col"></th>-->
<!--                  <th scope="col"></th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <table class="table table-sm" *ngIf="fl.chngCropdata.length > 0">-->
<!--                      <thead>-->
<!--                      <tr>-->
<!--                        <th scope="col">Field Name</th>-->
<!--                        <th scope="col">Last</th>-->
<!--                        <th scope="col">Current</th>-->
<!--                      </tr>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr *ngFor="let cd of fl.chngCropdata">-->
<!--                        <td>{{cd.change}}</td>-->
<!--                        <td>{{cd.last}}</td>-->
<!--                        <td>{{cd.curent}}</td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <table class="table table-sm" *ngIf="fl.chngFarmdata.length > 0">-->
<!--                      <thead>-->
<!--                      <tr>-->
<!--                        <th scope="col">Field Name</th>-->
<!--                        <th scope="col">Last</th>-->
<!--                        <th scope="col">Current</th>-->
<!--                      </tr>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr *ngFor="let fd of fl.chngFarmdata">-->
<!--                        <td>{{fd.change}}</td>-->
<!--                        <td>{{fd.last}}</td>-->
<!--                        <td>{{fd.current}}</td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>


  </div>
</div>





