<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">Check Audit Changes</div>
        <div class="card-body">
          <hr>
          <form (ngSubmit)="submitForm()" #fileUploadForm="ngForm" class="row g-3">
            <div class="row">
              <div class="col-6">
                <label for="formFile" class="form-label">Project Name</label>
                <input class="form-control" type="text" id="project" name="project" list="projectsList"
                       [(ngModel)]="project" (ngModelChange)="searchProjects()" (change)="onProjectOptionSelected()"
                       autocomplete="off">
                <datalist id="projectsList">
                  <option *ngFor="let p of projects" [value]="p.proName">{{p.proName}}</option>
                </datalist>
              </div>
              <div class="col-6">
                <label for="formFile" class="form-label">Select Audit</label>
                <select class="form-select" [(ngModel)]="audit" (change)="onAuditOptionSelected()" name="audit">
                  <option *ngFor="let a of auditPlans" [value]="a.planId">{{a.auditNo}}</option>
                </select>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">View</button>
            </div>
          </form>

        </div>
      </div>
      <div *ngIf="farmlists.length > 0">
        <div class="card" *ngIf="farmlists.length > 0">
          <h5 class="card-header">New</h5>
          <div class="card-body">
            <div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">cuid</th>
                  <th scope="col">Farmer code (EU/JAS)</th>
                  <th scope="col">Farmer Name</th>
                  <th scope="col">Total Area</th>
                  <th scope="col">chngFarmdata</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fl of newFarmersList; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{fl.cufarmerID}}</td>
                  <td>{{fl.farCodeEUJAS}}</td>
                  <td>{{fl.farmName}}</td>
                  <td>{{fl.totalArea}}</td>
                  <td>{{fl.Crops}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header">Changes List</h5>
          <div class="card-body">
            <div *ngFor="let fl of oldFarmersList; let i = index">
              <p>{{i}} - {{fl.unitNoEUJAS}} | {{fl.farCodeEUJAS}} | {{fl.farmerName}}</p>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">chngCropdata</th>
                  <th scope="col">chngFarmdata</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{fl.chngCropdata}}</td>
                  <td>{{fl.chngFarmdata}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>





